form {
    border: 3px solid #f1f1f1;
	width: 25%;
	float:right;
}
.lstpwdform, .usrregform{
	width:102%;
	float:left;
	border: 0px solid #f1f1f1;
	background-color:white;
	padding:5%;
	margin-left:-6%;
}
.lstpwddiv, .usrregdiv{
	background-color:white;
}

input[type=text], input[type=password],input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}




.submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

.submit:hover {
    opacity: 0.7;
}
label,h2,a,p{
	font-family:calibri;
}

.form{
	text-decoration:none;
	color:#0066ff;
	font-weight:bold;
}
.form:hover{
	color:#ff6600;
}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    
}
span.reg {
    float: left;
    
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding: 4%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: white; 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: white;
    margin-left: 6%;
    border: 0px solid #888;
    width: 80%;
}

#close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
